.sort-selector {
    border: none;
    border-radius: 8px;
    padding: 2px 8px 2px 4px;
    color: rgba(105, 124, 125, 0.913);
    font-weight: 800;
    text-transform: capitalize;
    width: 105px;
}

.sort-selector:focus {
    outline: none;
}