.table-container {
    background-color: white;
    width: calc(100vw - 20px);
}

.table-grid-header-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 5fr;
    column-gap: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px gainsboro;
    border-bottom: 1px solid gainsboro;
}

.table-grid-container {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 5fr;
    column-gap: 2px;
    row-gap: 10px;
    margin-bottom: 20px;
}

.column-data-description  {
    font-size: xx-small;
    font-style: italic;
}

.column-data-dateLastEdited {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: '8px'
}

.column-data-name {
    padding-left: 10px;
}

[class*="column-headers"] {
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
    padding: 4px;
    font-size: small;
}

[class*="column-data"] {
    font-size: x-small;
    padding: 4px;
    border-bottom: 1px dotted gainsboro;
}

.sorted {
    font-weight: 800;
}

[class*="column-data"] > img {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .table-grid-container {
        grid-auto-rows: minmax(150px, auto);
    }

    [class*="column-data"] {
        font-size: small;
    }
}
