body {
  margin: 0;
  font-family: -apple-system, 'centuryGothic', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Monaco, 'Courier New',
    monospace;
}
